{% extends 'administration/base.html' %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}


{% block content %}


   
<form method="post" action="{% url 'survey' %}">
    {% csrf_token %}
    <div class="row g-2 mb-5">
        <div class="col-md">
          <div class="form-floating">
            <input name="firstName" type="text" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="" required>
            <label for="floatingInputGrid">Enter First Name</label>
          </div>
        </div>

        <div class="col-md">
            <div class="form-floating">
                <input name="lastName" type="text" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="" required>
                <label for="floatingInputGrid">Enter Last Name</label>
              </div>
          </div>
        </div>

      <div class="row g-2 mb-5">
        <div class="col-md">
          <div class="form-floating">
            <input name="email" type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="">
            <label for="floatingInputGrid">Enter Valid Email address</label>
          </div>
        </div>

        <div class="col-md">
            <div class="form-floating">
                <input name="contact" type="number" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="" required>
                <label for="floatingInputGrid">Enter Valid Contact Number</label>
              </div>
          </div>
        </div>


    <div class="row g-2 mb-5">
        <div class="col-md">
          <div class="form-floating">
            <input name="age" type="number" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="" required>
            <label for="floatingInputGrid">Age</label>
          </div>
        </div>

        <div class="col-md">
            <div class="form-floating">
                <input name="precinct" type="text" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="" required>
                <label for="floatingInputGrid">Enter Valid Precinct Number</label>
              </div>
          </div>
        </div>

        <div class="row g-2 mb-5">
          <div class="d-grid gap-2 col-6 mx-auto">
            <div class="form-floating">
              <select name="role" class="form-select" id="floatingSelectGrid" aria-label="Floating label select example" required>
                <option selected>Role</option>
                <option value="Poll Watcher">Poll Watcher</option>
                <option value="Coordinator">Coordinator</option>
                
              </select>
              <label for="floatingSelectGrid">Select your Role</label>
            </div>
          </div>
        </div>

      <div class="row g-2 mb-5">
        <div class="col-md">
            <div class="form-floating">
              <select 
                name='province'
                class="form-select" 
                hx-get="{% url 'city' %}"
                hx-trigger="change"
                hx-target="#city"
              >
                <option selected>Province</option>
                {% for province in province %}
                  <option value={{ province.id }}>{{ province.name }}</option>
                {% endfor %}
              </select>
              <label for="floatingSelectGrid">Select your Province</label>
            </div>
          </div>

          <div class="col-md">
            <div id="city">
              {% include 'user/city.html' %}
            </div>
          </div>

          
        <div class="col-md">
          <div id="barangay">
            {% include 'user/barangay.html' %}
          </div>
        </div>
     
      <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-success" type="submit">Submit Survey</button>
        </div>
  </form>


  {% comment %} data-cities-url="{% url 'ajax_load_cities' %}" {% endcomment %}

  {% comment %} <form method="post" id="surveyForm" >
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <button type="submit" class="btn btn-primary">
      Submit
    </button>
  {% endbuttons %}
  </form> {% endcomment %}
 
    


     
{% endblock content %}