{% load bootstrap5 %}
{% load static %}

<html>
    <head>
        <title>{% block title %}{% endblock title %}</title>
    </head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css">

    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>


    {% block default_script %}{% endblock default_script %}
    {% block css %}{% endblock css%}
   
    <body>
        <nav class="navbar navbar-light" style="background-color: #f30909;">
            <div class="container">
              
                    <a class="navbar-brand"> <span class="navbar-brand mb-0 h1" style="color: #fffafafb;">BAGONG SANDIGAN NG MAMAMAYAN</span><img src="https://icons.iconarchive.com/icons/wikipedia/flags/512/PH-Philippines-Flag-icon.png" alt="phflag" style="width:3.5%;margin-bottom: 0.5%; margin-left:0.0001%"></a>
                
                
        </nav>
        <main class="container mt-4">
            {% block content %}
            {% endblock content %}
        </main>
    </body>
    {% block script %}{% endblock script %}
</html>