{% extends 'administration/base.html' %}
{% load bootstrap5 %}



{% block content %}
   
<table class="table table-striped table-success">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
          <th scope="col">Contact Number</th>
          <th scope="col">Age</th>
          <th scope="col">Precinct Number</th>
          <th scope="col">Province</th>
          <th scope="col">Municipality</th>
          <th scope="col">Barangay</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Juan</td>
          <td>Cruz</td>
          <td>Juan.Cruz08@gmail.com</td>
          <td>09171231234</td>
          <td>35</td>
          <td>01AA1</td>
          <td>Metro Manila</td>
          <td>Quezon City</td>
          <td>Pasong Tamo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Mark</td>
          <td>Sanchez</td>
          <td>Mark.Sanchez78@gmail.com</td>
          <td>09171231234</td>
          <td>24</td>
          <td>02BA1</td>
          <td>Ilocos Norte</td>
          <td>Burgos</td>
          <td>Nagsurot</td>
        </tr>
        <tr>
        <th scope="row">3</th>
        <td>Joshua</td>
          <td>Cabuyao</td>
          <td>Cabuyao.Josh32@gmail.com</td>
          <td>09171231234</td>
          <td>42</td>
          <td>02BA3</td>
          <td>Metro Manila</td>
          <td>Marikina</td>
          <td>San Roque</td>
        </tr>
      </tbody>
  </table>
     
{% endblock content %}